- if (followers && followers.length > 0){
	h4 Seguidores    
	- for (var i =  0; i < followers.length; ++i) {
		- var name = followers[i]._follower;
		ul.collection  
			li.collection-item.avatar
				i.material-icons.circle.blue person_pin        
				span.title #{name}
	-}
-}

- if (following && following.length > 0){
	h4 Siguiendo    
	- for (var i =  0; i < following.length; ++i) {
		- var name = following[i]._following;
		ul.collection  
			li.collection-item.avatar
				i.material-icons.circle.blue person_pin        
				span.title #{name}
	-}
-}
