- for (var i =  0; i < res.length; ++i) {
- if (!(res[i].id_user_a && res[i].id_user_b)) continue;
- if (res[i].id_user_a == idUs){
-   var name = res[i]._nameB;
-   var follow = res[i]._followersB
-}else{
-    var name = res[i]._nameA;
-    var follow = res[i]._followersA;
- } 
    br
    | #{name}
    br
    | #{follow}
  
- }
    
