doctype html
html
  head
    meta(charset='utf-8')    
    head
  body
      | #{userName}
      br
      input#TP_text(type='text', name='' placeholder='Post')
      br
      input#TP_send(type='button', name='send' value='Enviar' onClick='uploadText()')
      br
      form#IP_form(method='post', enctype='multipart/form-data', action= '/saveImage')
        input#IP_image(type='file', name='image')
      br
      input#FR_get(type='button' value='getFriends' onClick='getFriends()')
      br
      input#NT_get(type='button' value='getNotifications' onClick='getNotifications()')
      div#notificationsContainer
      br
      div#friendsContainer
      br
      div#mainContainer
      

  script(type='text/javascript', src='js/jquery.min.js')
  script(type='text/javascript', src='js/jquery.form.js')
  script(type='text/javascript', src='js/profileContent.js')
  script(type='text/javascript', src='js/profileItem.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/css/materialize.min.css', type='text/css', rel='stylesheet', media='screen,projection')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
