doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    link(rel='stylesheet', type='text/css', href='styles/style-main.css')
  body
    #header
      img(src='img/img-header.png', alt='img_header')
    #container-main
  script(src='http://code.jquery.com/jquery-1.9.1.js')
  script(src='js/main-controller.js')
  script.
     load_page("start-page.html");
