h4 Notificaciones
- for (var i =  0; i < res.length; ++i) {
- if (res[i]._likes == 0) continue;
- var likes = res[i]._likes;
- var content = res[i].content;
- var file = res[i]._file; 
	br
	b
		| A #{likes} persona
		- if (likes > 1){ 
		|s
		-}

	|&nbsp; les gusta tu publicación
	- if (file){
	|&nbsp;&nbsp;&nbsp;
	img.circle(src="/user-content/"+file width="30px")
	-} else{
	i
		| ' #{content} '
	-}

- }
