#header #profile-container{
	float: right;
	color: white;
	font-size: 10px;
	margin-top: 5px;
	margin-right: 20px;
}

#header #profile-name{
	font-family: kidzania;
	font-size: 25px;
	margin-top: -4px;
}

#container-content{
	padding: 15px;
}

#container-items{
	margin-top: 45px;
	padding-bottom: 150px;
}





.item-container{
	background: white;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 100%;
	padding: 6px;
	margin-left: -8px;
	box-shadow: 2px 0px 10px rgba(100,100,100,0.6);
	border: 3px solid rgba(255,160,35,0.8);
	margin-top: 5px;
	
	
}



.item-img{
	width: 100%;			
}

.item-text{
	font-family: verdana;	
	font-style:italic;
	font-size: 18px;
	color: rgb(120,120,120);
	padding: 17px;
	overflow: hidden;
}


.item-footer{
	margin-top:-3px;
	margin-left: 3px;	
	margin-right: 3px;			
}
.item-footer hr{
	border: 1px solid rgb(230,230,230);			
}

.item-footer .item-smilie-container{
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 2px solid rgb(255,160,35);
	background: rgba(255,160,35,0.08);
	width: 80px;
	height: 30px;
	
}

.item-footer .item-smilie-container:active{	
	background: rgba(255,160,35,0.3);	
}
.item-footer .item-smilie-container img{
	height: 25px;
	margin-top: 3px;
	margin-left:27px;
}

.item-footer .item-smilie-user{
	float: right;
	margin-top: -33px;
	margin-right: 0px;
	font-size: 22px;
	font-family: kidzania;
	color: rgb(150,150,150);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(230,230,230);
	background: rgb(250,250,250);
	width: 130px;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
	
}

.item-footer .item-smilie-number{
	float: left;
	margin-top: -32px;
	margin-left: 90px;
	font-size: 14px;
	color: rgba(150,40,20,0.5);
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid rgba(210,40,20,0.5);
	background: rgba(210,40,20,0.05);
	width: 40px;
	text-align: center;
	padding-top: 6px;
	padding-bottom: 6px;
}





.profile-background-black{
	position: fixed;
	z-index: 1002;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	display:none;
	overflow-y: scroll;
}


#text-upload-container{
	background: white;
	padding: 10px;
	margin: 20px;
	margin-top: 100px;
}

#text-upload-container #text-upload-content{
	font-size: 21px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-indent: 20px;
	width: 100%;
}

#map-view-container {
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
}

#map-view-container img{
	width: 100%;
}
#challenge-view-container {
	position: absolute;
	left: 5%;
	top: 5%;
	width: 90%;
}

#challenge-view-container img{
	width: 100%;
}







#footer-options{
	position: fixed;
	width: 100%;
	height: 50px;	
	bottom: 0px;
	z-index: 999;
	box-shadow: 0px -4px 10px rgba(100,100,100,0.5)
}

#footer-options div{
	width: 33.3%;
	height: 100%;
	background: rgb(220,220,220);
	z-index: 1000;
	
}

#footer-options div:active{
	background: rgb(79,161,222);
}

#footer-options img{
	top: 10px;
	width: 30px;
	height: 25px;
	margin: auto;
	display:block;
	padding: 15px;
}

#footer-options #footer-options-photo-upload{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	display:block;
	opacity: 0;
}

#footer-options #footer-options-photo-upload-loading{
	margin-top: -103px;
	margin-left: 20px;
	padding: 0;
	width: 150px;
	height: 150px;
	display:none;
}
#footer-options #footer-options-photo{
	position: absolute;
	right: 33.3%;
	margin-top: -50px;
	border-left: 2px solid rgb(180,180,180);
	border-right: 2px solid rgb(180,180,180);	
}	

#footer-options #footer-options-map{
	float: right;
	margin-top: -50px;
	border-left: 2px solid rgb(180,180,180);	
}	